html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: white;
}

h2 {
  font-size: 30px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  color: #626262;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 38px;
}

h3 {
  font-size: 14px;
  font-family: "Ubuntu", Cambria, Cochin, Georgia, sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: lighter;
  padding-bottom: 28px;
}

p {
  font-size: 14px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  color: #626262;
  line-height: 1.7;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 31px;
}

a {
  text-decoration: none;
  color: #666666;
}

nav {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px;
  padding-top: 65px;
}

.container {
  width: 900px;
  margin: 0 auto;

  font-size: 0;
}

.nav-link {
  display: inline-block;
  margin-right: 125px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 19px;
  line-height: 1.2;
  font-weight: 400;
  color: #626262;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a:focus,
.nav-link a:hover {
  color: blue;
}

.con-block {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}

.con-block:nth-child(2n) {
  margin-right: 0;
}

.con-block:last-child {
  margin-right: 0;
}

.load-button {
  text-align: center;
  padding-bottom: 70px;
}

.load-button button {
  margin: 0 auto;
  background-color: white;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  padding: 18px 32px 18px 32px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #626262;
}
